chromadb==0.4.15
gpt4all
pdfminer
pdfminer.six
langchain
langchain-community
ollama
sentence-transformers
tokenizers
faster-whisper
pipx
pvrecorder
pyaudio
pydub
SpeechRecognition
xmltodict
vosk
pysqlite3-binary
